extends layout.pug 

block head 
    title= siteTitle

block content
   section.container
        h3 Nome #{data.firstName}
        p Sobrenome - #{data.lastName}
        div
            img(id='user_image' src='' width='1080px' alt='User image')

block script 
    script.
        const image64 = '#{data.userImage}'
        const img = document.querySelector('#user_image')
        img.src = image64

