:root {
    --silver-1: #f2f2f2;
    --light-gray-1: #d3d3d3;
    --purple-1: #8a7bb3;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
}

h3 {
    padding: 0 20px;
    font-weight: 300;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    color: var(--purple-1);
    font-size: 20px;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
    shape-outside: circle(50%);
}

canvas {
    display: none;
}

#role-camera {
    width: 50%;
    background-color: var(--purple-1);
}

#role-auth {
    width: 50%;
    margin: 0 auto;
    padding: 2em 0;
    background-color: var(--silver-1);
}

#spinner-content {
    width: 100%;
    margin: 1em 0;
    text-align: center;
}