@import "./variables";

section {
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
}

h3 {
    padding: 0 20px;
    font-weight: 300;
    color: $gray-900;
}

video {
    height: 100%;
    width: 100%;
}

canvas {
    display: none;
}

ul {
    margin: 0;
    width: 90%;
    color: white;
    list-style: none;
}

ul>li {
    margin: 5px 0;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 10px;
    background-color: $gray-900;
}

#role-camera {
    width: 75%;
    background-color: $blue-300;
}

#role-attr {
    width: 25%;
    margin: 0 auto;
    padding: 2em 0;
    background-color: $gray-100;
}

#up-photo {
    width: 100%;
    text-align: center;
}

.btn-color {
    background-color: $blue-500;
    color: white;    
}

.btn-color:hover {
    color: $blue-500;
    background-color: white;
    border-color: $blue-500;
}

.btn-color-2 {
    background-color: $gray-900;
    color: white;    
}

.btn-color-2:hover {
    color: $gray-900;
    background-color: white;
    border-color: $gray-900;
}

.modal-header {
    color: $gray-900;
}